/* header */

header{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/* main */

main{
    margin: 20px 10px;
}

 main p{
    margin: 20px 0;
 }

 /* PC */

@media (min-width: 992px){


    .address{
        margin-left: 50px;
    }

    aside{
        margin-top: 150px;
    }

}
