/* header */

header{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/articles/suzette/suzette-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.headerhaut{
    background: rgba(0,0,0,0.5);
}

h1{
    background: rgba(0,0,0,0.5);
}

/* intro */

.Intro{
    justify-content: start;
    align-items: flex-end;
}

.L{
    font-size: 70px;
    color: gray;
    font-family: 'Oswald', sans-serif;
}
